.app
{
  height: 100%;
  width: 100%;
  overflow: auto;
}
 /* The sidebar menu */
 .sidenav {
  height: 95%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  background-color: #224887; /* Rzeszowiak main color */
  padding-top: 20px;
  color: #FFFFFF !important;
  font-size: 22px;
  padding-left: 10px;
}





input
{
  font-size: 13px;
  color: #000000;
}
