.app
{
  height: 100%;
  width: 100%;
}
 /* The sidebar menu */
 .sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 20%; /* Set the width of the sidebar */
  background-color: #224887; /* Rzeszowiak main color */
  padding-top: 20px;
  color: #FFFFFF !important;
  font-size: 30px;
  padding-left: 10px;
  float: left;
}
.sidenav p
{
  margin-top: 20px;
}


/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

input
{
  font-size: 18px;
  color: #000000;
}
