.content
{
    width: 80%;
    height: 100%;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    position: relative; /* Fixed Sidebar (stay in place on scroll) */
    float: right;
    font-size: 30px;
    
}
img {
    width: 100px; /* You can set the dimensions to whatever you want */
    height: 100px;
    border-radius: 50%;
}
ul
{
    list-style-type: none;
}
.ItemImage
{
    height: 100%;

}
.ItemInfo
{
    height: 100%;
    font-weight: bold;
}
.ItemDescription
{
    overflow: hidden;
    height: 100%;
    font-size: 11px;
}
.container-fluid
{
    border-bottom: 1px #b4b6ba solid; 
}
