.content
{
    width: 80%;
    height: 95%;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    position: relative; /* Fixed Sidebar (stay in place on scroll) */
    font-size: 30px;
    overflow: auto;
}
img {
    width: 100%; /* You can set the dimensions to whatever you want */
    height: 100%;
    border-radius: 30%;
}
ul
{
    list-style-type: none;
    padding: 0 !important;
}
.ItemImage
{
    height: 100%;
    padding: 3px;

}
.ItemInfo
{
    height: 100%;
    font-weight: bold;
}
.ItemDescription
{
    overflow: hidden;
    height: 100%;
    font-size: 11px;
}
.container-fluid
{
    border-bottom: 1px #b4b6ba solid;
    padding-right: 0 !important;
    padding-left: 0 !important;
}
